.aboutSection {
  margin: 80px 100px;
}
.aboutSection__text {
  background-color: #312f2f;
  border-radius: 20px;
  padding: 30px 50px;
  margin-bottom: 100px;
}

.appScreenShot {
  border-radius: 20px;
}

/* IPAD OPTIMIZATION */

@media screen and (max-width: 1220px) {
  .aboutSection {
    margin: 70px 90px;
  }
  .aboutSection__text {
    padding: 25px 40px;
    margin-bottom: 90px;
  }
}

/* MOBILE OPTIMIZATIONS */
@media screen and (max-width: 870px) {
  .aboutSection {
    margin: 30px 10px;
  }
  .aboutSection__text {
    border-radius: 15px;
    padding: 15px 30px;
    margin-bottom: 50px;
  }
}
