.parentContainer {
  text-align: center;
  margin-bottom: 0px;
}

.githubIcon {
  background-color: black;
  border-radius: 40px;
  font-size: 20px;
  color: white;
  border-style: none;
  padding: 15px 80px;
}

.githubIcon:hover {
  background-color: #e63946;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.githubIcon:active {
  transform: scale(0.95);
}


/* Wantedbear007 */
/* Bhanupratap Singh */