html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1a1604;
  /* #0F1108 */
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading,
.heading2,
.heading3 {
  font-size: 32px;
  letter-spacing: 2.4px;
}
.heading2 {
  margin-left: 40px;
}
.heading3 {
  margin-right: 40px;
}
.paragraph {
  font-size: 20px;
  line-height: 40px;
  margin: 0px 10px;
}
.subHeading {
  font-size: 26px;
  letter-spacing: 2.4px;
}

/* IPAD OPTIMIZATION */

@media screen and (max-width: 1220px) {
  .heading,
  .heading2,
  .heading3 {
    font-size: 28px;
    letter-spacing: 2.2px;
  }
  .heading2 {
    margin-left: 35px;
  }
  .paragraph {
    font-size: 18px;
    line-height: 35px;
    margin: 0px 8px;
  }
  .subHeading {
    font-size: 23px;
    letter-spacing: 2.2px;
  }
}

/* MOBILE OPTIMIZATIONS */
@media screen and (max-width: 870px) {
  .heading,
  .heading2,
  .heading3 {
    font-size: 25px;
    letter-spacing: 1.4px;
  }
  .heading2 {
    margin-left: 20px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px;
  }
  .subHeading {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
